# Project 1: Python Basics + Simple CSV Data Analysis

In this project, we will:
- Build a simple calculator using Python functions.
- Load a CSV file with sample data.
- Perform basic data analysis such as calculating mean, median, and mode on numeric columns.
- Use markdown comments to explain what each step does.

This helps demonstrate foundational Python skills and data handling with pandas.

In [2]:
def calculator():
    print("Simple Python Calculator")
    print("Operations: +, -, *, /")
    num1 = float(input("Enter first number: "))
    op = input("Enter operation (+, -, *, /): ")
    num2 = float(input("Enter second number: "))
    
    if op == '+':
        result = num1 + num2
    elif op == '-':
        result = num1 - num2
    elif op == '*':
        result = num1 * num2
    elif op == '/':
        if num2 == 0:
            result = "Error! Division by zero."
        else:
            result = num1 / num2
    else:
        result = "Invalid operation!"
    
    print(f"Result: {result}")

calculator()

Simple Python Calculator
Operations: +, -, *, /

Enter first number:  150160
Enter operation (+, -, *, /):  /
Enter second number:  142

Result: 1057.4647887323943

### Simple Python Calculator

- This function asks the user to input two numbers and an operation (+, -, *, /).
- It checks which operation to perform using conditional statements.
- It handles division by zero error to avoid crashing.
- Finally, it prints the result or error messages.
- This demonstrates understanding of Python basics and interactive programming.

In [6]:
import pandas as pd
from statistics import mode

data = {
    'Age': [25, 30, 22, 40, 28, 30, 22, 25],
    'Score': [88, 92, 79, 95, 85, 92, 79, 88]
}

df = pd.DataFrame(data)
df

   Age  Score
0   25     88
1   30     92
2   22     79
3   40     95
4   28     85
5   30     92
6   22     79
7   25     88

### Sample Data Creation

- We created a small dataset with two columns: `Age` and `Score`.
- This simulates real data in a CSV file.
- Using pandas DataFrame allows easy manipulation and analysis of tabular data.

In [8]:
mean_age = df['Age'].mean()
median_age = df['Age'].median()
mode_age = mode(df['Age'])

mean_score = df['Score'].mean()
median_score = df['Score'].median()
mode_score = mode(df['Score'])

print(f"Age - Mean: {mean_age}, Median: {median_age}, Mode: {mode_age}")
print(f"Score - Mean: {mean_score}, Median: {median_score}, Mode: {mode_score}")

Age - Mean: 27.75, Median: 26.5, Mode: 25
Score - Mean: 87.25, Median: 88.0, Mode: 88

### Basic Data Analysis

- **Mean:** The average of all values in a column.
- **Median:** The middle value when data is sorted.
- **Mode:** The most frequently occurring value.

Calculating these statistics helps us quickly understand the distribution and common values in the dataset.